.photo_content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo_content .photodiv img {
  width: 350px;
  height: 500px;
  border-radius: 13px;
}

.photo_content .photodiv p {
  font-size: 20px;
  font-weight: 400;
  color: #ccc;
}